body {
    margin: 0;
    width: 100%;
    background-color: black;
    color: white;
}

#attribution {
    text-align: center;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 100%;
    max-width: 100vw;
    background-color: rgb(40, 42, 53);
    padding: 20px 30px 20px;
    box-sizing: border-box;
}

#attribution a {
    color: rgb(255, 244, 163);
    text-decoration: none;
}

#attribution a:hover {
    text-decoration: underline;
}